
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link th:href="@{/dashboard.css}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0 dark-green" href="#"><span data-feather="calendar"></span> Schema app</a>
      <ul class="navbar-nav">
        <li class="nav-item text-nowrap logout">
          <a class="nav-link white-text" href="#">
            <span data-feather="users"></span>  Sign out
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/home">
                  <span data-feather="home"></span>
                  Översikt
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/schema">
                  <span data-feather="calendar"></span>
                  Schema <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="clock"></span>
                  Tid
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="user"></span>
                  Admin
                </a>
              </li>

            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Schema</h1>
          </div>
          <div class="calendar-main">
            <div class="d-flex justify-content-between calendar-head">
              <div class="p-2 no-padding calendar-arrow"><a href="#" alt="Go back"><span data-feather="arrow-left"></span></a></div>
              <div class="p-2 no-padding" th:text="${calendar_month} + ' 2020'"></div>
              <div class="p-2 no-padding calendar-arrow"><a href="#" alt="Go Front"><span data-feather="arrow-right"></span></a></div>
            </div>

            <div class="d-flex justify-content-between calendar-top">
              <div class="p-2 calendar-item">Mån</div>
              <div class="p-2 calendar-item">Tis</div>
              <div class="p-2 calendar-item">Ons</div>
              <div class="p-2 calendar-item">Tor</div>
              <div class="p-2 calendar-item">Fre</div>
              <div class="p-2 calendar-item">Lör</div>
              <div class="p-2 calendar-item">Sön</div>
            </div>
            <div class="d-flex justify-content-between calendar-day" th:each="i: ${cal}">
              <div rel="comments" class="p-2 calendar-item day" th:each="item: ${i}"><p class="no-padding" th:text="${item.getDayOfMonth()}"></p></div>
            </div>
            <div class="d-flex justify-content-between calendar-day">
              <div rel="comments" class="p-2 calendar-item day">26</div>
              <div rel="comments" class="p-2 calendar-item day">27</div>
              <div rel="comments" class="p-2 calendar-item day">28<div class="working"></div></div>
              <div rel="comments" class="p-2 calendar-item day">29<div class="working"></div></div>
              <div rel="comments" class="p-2 calendar-item day">30<div class="working"></div></div>
              <div rel="comments" class="p-2 calendar-item day">31</div>
              <div rel="comments" class="p-2 calendar-item day gray-text">1<div class="working"></div></div>
            </div>

          </div>
          </script>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script th:src="@{/js/calendar.js}"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>



  </body>
</html>
